body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.tache {
    background: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}
